ul.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #002266;
  margin-bottom: 10px;
}

ul.nav-bar li {
  float: left;
}

ul.nav-bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.nav-bar li a:hover {
  background-color: #111111;
}

li.citations {
	font-size: 12px;
}

p.fyi {
	font-size: 10px;
}

.hidden {
	display: none !important;
}

.overlay {
  position: fixed;
  z-index: 999;
}

#close-intro {
  
  position: absolute;
  right: 0;
  top: 0;
  color: black;
  font-size: 15px;
  font-weight: 600;
  border: none;
  background-color: white;
}

#intro-box {
  position: fixed;
  border: 5px dashed #002266;
  border-radius: 5%;
  width: 50%;
  height: 30%;
  left: 25%;
  top: 35%;
  padding: 15px;
  background-color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  font-size: 15px;
  text-align: center;
}

.disclaimer {
	color: red;
	font-weight: 600;
	font-size: 20px;
	text-align: center;
}

#gen-row1, #his-row1 {
	background-color: #ccddff;
	margin-top: 10px;
	border-radius: 10px;
}

#gen-row2, #his-row2 {
        background-color: #99bbff;
        margin-top: 10px;
        border-radius: 10px;
}

#gen-row3, #his-row3 {
        background-color: #6699ff;
        margin-top: 10px;
        border-radius: 10px;
}

#imp-col1 {
	background-color: #99bbff;
        margin-top: 10px;
        border-radius: 10px;
}

#imp-col2 {
        background-color: #6699ff;
        margin-top: 10px;
        border-radius: 10px;
}

#today-row1 {
	background-color: #ccddff;
	margin-top: 10px;
	border-radius: 10px;
}

#today-col1 {
        background-color: #99bbff;
        margin-top: 10px;
        border-radius: 10px;
}

#today-col2 {
        background-color: #6699ff;
        margin-top: 10px;
	border-radius: 10px;
}

#cit-col1a{
	background-color: #ccddff;
	margin-top: 10px;
        border-radius: 10px;
}

#cit-col2a{
        background-color: #b3ccff;
        margin-top: 10px;
        border-radius: 10px;
}

#cit-col1b{
        background-color: #99bbff;
        margin-top: 10px;
        border-radius: 10px;
}

#cit-col2b{
        background-color: #6699ff;
        margin-top: 10px;
        border-radius: 10px;
}

#index-jumbo{
	background-image: url("./reef.jpg"); 
}

#today-jumbo{
        background-image: url("./diving.jpg");
}

#imp-jumbo{
	background-image: url("./gates.png");
}

#history-jumbo{
	background-image: url("./cliff.jpg");
}

#index-jumbo,
#today-jumbo,
#imp-jumbo,
#history-jumbo {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    -webkit-text-stroke: 1px black;
    /*padding: 60px 20px; */
    border-radius: 10px;
}

.jumbo-citation {
    position: absolute;
    right: 10px;
    bottom: 0;
    color: black;
    font-size: 10px;
    -webkit-text-stroke: 1px white;
    max-width: 500px;
    white-space: normal;
}

.jumbotron h1 {
    font-weight: 600 !important;
}

