ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

div.row1 {
	border: 2px solid black;
	width: 100%;
        height: 33%;
}

div.row2 {
	border: 2px solid red;
	width: 100%;
        height: 33%;
}

div.row3 {
        border: 2px solid yellow;
	width: 100%;
	height: 33%;
}

div.col1 {
        border: 2px solid black;
	height: 100%;
	width: 45%;
}

div.col2 {
        border: 2px solid red;
	height: 100%;
	width: 45%;
	float: right;
} 

