ul.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #002266;
  margin-bottom: 10px;
}

ul.nav-bar li {
  float: left;
}

ul.nav-bar li a {
  display: block;
  color: white;
  font-weight: 600;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.nav-bar li a:hover {
  background-color: #111111;
}

li.citations, #loc-citation {
	font-size: 12px !important;
}

.whit a{
	color: white;
}

p.fyi {
	font-size: 10px;
}

.hidden {
	display: none !important;
}

.overlay {
  position: fixed;
  z-index: 999;
}

#close-intro {
  
  position: absolute;
  right: 0;
  top: 0;
  color: black;
  font-size: 15px;
  font-weight: 600;
  border: none;
  background-color: white;
}

#intro-box {
  position: fixed;
  border: 5px dashed #002266;
  border-radius: 5%;
  width: 50%;
  height: 30%;
  left: 25%;
  top: 35%;
  padding: 15px;
  background-color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  font-size: 15px;
  text-align: center;
}

.disclaimer {
	color: red;
	font-weight: 600;
	font-size: 20px;
	text-align: center;
}

.row p, .row li {
	font-size: 15px; 
}

.row h5 {
	font-weight: 600;
	padding-top: 15px;
	padding-bottom: 15px;
}

.row h5#why {
        padding-top: 0px !important;
}

.bottom {
	margin-bottom: 25px;
}

#gen-row1, #his-row1 {
	background-color: #ccddff;
	margin-top: 10px;
	border-radius: 10px;
	padding: 15px;
}

#gen-row2 ul {
	padding-top: 5%;
}

.loc-cit {
	font-size: 12px !important;
}

#gen-row2, #his-row2 {
        background-color: #99bbff;
        margin-top: 10px;
        border-radius: 10px;
	padding: 15px;
}

#gen-row3, #his-row3 {
        background-color: #6699ff;
        margin-top: 10px;
        border-radius: 10px;
	padding: 15px;
}

#imp-col1 {
	background-color: #99bbff;
        margin-top: 10px;
        border-radius: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 25px;
	padding-left: 25px;
}

#imp-col2 {
        background-color: #6699ff;
        margin-top: 10px;
        border-radius: 10px;
	padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 25px;
        padding-left: 25px;
}

#today-row1 {
	background-color: #ccddff;
	margin-top: 10px;
	border-radius: 10px;
	padding: 15px;
}

#today-col1 {
        background-color: #99bbff;
        margin-top: 10px;
        border-radius: 10px;
	padding: 15px;
	padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 25px;
        padding-left: 25px;
}

#today-col2 {
        background-color: #6699ff;
        margin-top: 10px;
	border-radius: 10px;
	padding: 15px;
	padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 25px;
        padding-left: 25px;
}

#cit-col1a{
	background-color: #ccddff;
	margin-top: 10px;
        border-radius: 10px;
	padding: 15px;
}

#cit-col2a{
        background-color: #b3ccff;
        margin-top: 10px;
        border-radius: 10px;
	padding: 15px;
}

#cit-col1b{
        background-color: #99bbff;
        margin-top: 10px;
        border-radius: 10px;
	padding: 15px;
}

#cit-col2b{
        background-color: #6699ff;
        margin-top: 10px;
        border-radius: 10px;
	padding: 15px;
}

#index-jumbo{
	background-image: url("./images/reef.jpg"); 
}

#today-jumbo{
        background-image: url("./images/diving.jpg");
}

#imp-jumbo{
	background-image: url("./images/gates.png");
}

#history-jumbo{
	background-image: url("./images/cliff.jpg");
}

#index-jumbo,
#today-jumbo,
#imp-jumbo,
#history-jumbo {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    -webkit-text-stroke: 1px black;
}

.jumbo-citation {
    position: absolute;
    right: 10px;
    bottom: 0;
    color: white;
    font-size: 15px;
    -webkit-text-stroke: 1px white;
    max-width: 500px;
    white-space: normal;
}

.jumbotron h1 {
    font-weight: 600 !important;
}

.lil-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 4px solid #002266; 
}

.lil-img-citations {
	text-align: right;
	margin-right: 5%;
	font-size: 12px !important;
}

#loc-citation {
	position: absolute;
	right: 10%;
	bottom: 62.5%;
}

#tod-citation-one {
	font-size: 12px !important;
	position: absolute;
        right: 10%;
        bottom: 65%;
}

#tod-citation-two {
	font-size: 12px !important;
        position: absolute;
        right: 10%;
        bottom: 29.5%;
}

#number-two {
	padding-top : 8px;
}

