ul.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul.nav-bar li {
  float: left;
}

ul.nav-bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.nav-bar li a:hover {
  background-color: #111111;
}

li.citations {
	font-size: 12px;
}

p.fyi {
	font-size: 10px;
}

#gen-row1 {
	background-color: #ccddff;
	margin: 10px;
	border-radius: 10px;
}

#gen-row2 {
        background-color: #99bbff;
        margin: 10px;
        border-radius: 10px;
}

#gen-row3 {
        background-color: #6699ff;
        margin: 10px;
        border-radius: 10px;
}

#imp-col1 {
	background-color: #99bbff;
        margin: 10px;
        border-radius: 10px;
}

#imp-col2 {
        background-color: #6699ff;
        margin: 10px;
        border-radius: 10px;
}

#today-row1 {
	background-color: #ccddff;
	margin: 10px;
	border-radius: 10px;
}

#today-col1 {
        background-color: #99bbff;
        margin: 10px;
        border-radius: 10px;
}

#today-col2 {
        background-color: #6699ff;
        margin: 10px;
        border-radius: 10px;
}

#cit-col1a{
	background-color: #ccddff;
	margin: 10px;
        border-radius: 10px;
}

#cit-col2a{
        background-color: #b3ccff;
        margin: 10px;
        border-radius: 10px;
}

#cit-col1b{
        background-color: #99bbff;
        margin: 10px;
        border-radius: 10px;
}

#cit-col2b{
        background-color: #6699ff;
        margin: 10px;
        border-radius: 10px;
}
